@keyframes spin {
    0% {
        background: url("./heads.png")
    }

    25% {
        background: url("./tails.png")
    }

    50% {
        background: url("./heads.png")
    }

    75% {
        background: url("./tails.png")
    }

    100% {
        background: url("./heads.png")
    }
}


#image {
    background: url("./heads.png");
    /* width: 227px; */
    /* height: 337px; */
    width: 227px;
    height: 180px;

}

.animate {
    background: url("./heads.png");
    width: 227px;
    height: 337px;
    animation-name: spin;
    animation-iteration-count: 2;
    animation-duration: 0.5s;
}

body {
    background-color: #77A6F7;
}

.canvas {
    background-color: #FFFFFF;
    border: 5px solid orange;
    width: 500px;
    height: 500px;
    padding: 50px;
    margin: 0px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    border-radius: 20px;
    box-shadow: 15px 30px 35px rgba(0, 0, 0, 0.1);
}

#center {
    width: 227px;
    margin: 10px auto;
    /* margin-bottom: 10px auto; */
    /* width: 227px;
    margin: 15px auto; */
}

.selection,
#player,
#computer {
    display: inline;
    margin: 4px;
    font-size: 0.7em;
}

h1,
h2 {
    color: #00887A;
    font-size: 1em;
}

h3 {
    color: #00887A;
    font-size: 0.8em;
    background-color: orange;
}

.buttons {
    display: flex;
    justify-content: space-between;

}

button {
    width: 130px;
    height: 40px;
    padding: 10px 0;
    margin: 5px 5px 0;
    /* opacity: 0.6; */
    /* border: 2.5px solid #424ae0; */
    border-radius: 22px;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    text-align: center;

}

#heads {
    background-color: #00887A;
    color: whitesmoke;
    font-weight: 500;
    font-size: 15px;
}

/* #heads:disabled {
    background-color: #e1e0ee;
    border-color: #e1e0ee;
    color: whitesmoke;
} */

#tails {
    border: 2px solid #00887A;
    font-size: 15px;
}

.button :hover {
    opacity: 0.6;
    color: red;
}